* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

/* Navbar */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.navbar img {
  height: 1.5em;
  width: 1.5em;
}

.navbar p {
  margin-right: auto;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  padding-left: 0.8em;
}

.main {
  display: grid;
  padding: 1em;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
}

.hero {
  grid-column: 1/-1;
}

.hero h1 {
  line-height: 108%;
  padding: 0.5em 0;
}

.hero label {
  font-size: 0.75em;
}

.feature-img {
  width: 100%;
  border-radius: 3px;
  padding-top: 0.5em;
}

.hero-post{
    grid-column: 1/-1;
}

.hero-post h3 {
  padding-bottom: 0.3em;
}

/* Footer */
.footer {
  grid-column: 1/-1;
  background-color: black;
  color: white;
  height: 105px;
  text-align: center;
  padding: 2.3125em 0;
}

.footer p {
  font-weight: 700;
  line-height: 108%;
  letter-spacing: -0.03em;
  font-size: 12px;
}

.footer label {
  color: #d7d7d7;
  font-size: 12px;
  line-height: 200%;
}

.blog-post {
  padding: 1em;
}

.blog-post-img {
  width: 100%;
  height: 240px;
  border-radius: 0.3em;
  object-fit: cover;
}

.blog-post-title {
  padding-bottom: 0.35em;
}
.blog-post-date {
  font-size: 0.8em;
  padding: 0.8em 0;
}

.blog-post-date {
  display: block;
}

.blog-post-description {
  color: #505050;
}

.recent-posts {
  grid-column: 1/-1;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 650px) {
  .navbar {
    padding: 2em;
  }

  .main {
    padding: 2em;
  }

}
