* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

/*Layout*/

/* Navbar */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.navbar img {
  height: 1.5em;
  width: 1.5em;
}

.navbar p {
  margin-right: auto;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  padding-left: 0.8em;
}

/* Main Component */

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  background-color: #fafafa;
}

.feature-blog {
  height: 300px;
  width: auto;
  background: url("../images/mac.jpg");
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  grid-column: 1/-1;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-blog-date {
  font-size: 0.75em;
}

.feature-blog-title {
  text-decoration: none;
  font-size: 2em;
  color: white;
  font-weight: 700;
}

.feature-blog-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

img {
  max-width: 100%;
}

.blog-post {
  padding: 1em;
}

/* Media Queries */

@media (min-width: 650px) {
  .navbar {
    padding: 0 2em;
  }

  .feature-blog-description{
    width: 600px;
  }
}
