html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Layout*/

.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1.25em;
}

.menu{
    font-size: 1.5em;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5em;
}

.title-wrapper{
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}